.float1 {
    background-color: black;
    color: white;
    /*Without using overflow: auto; the background color will not appear behind the floated image elements*/
    overflow: auto;
}


.float2 {
    background-color: burlywood;
    /*Without using overflow: auto; the background color will not appear behind the floated image elements*/
    overflow: auto;
    font-family: 'Limelight',curseive;
}

.float3 {
    background-color: lightblue;
    /*Without using overflow: auto; the background color will not appear behind the floated image elements*/
    overflow: auto;
}


#clown{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
}

#clown2{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    float: right;
}

.footer{
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
    background: black;
    color: white;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 300px;
    
}

#fp1{
    font-size: 15px;
}